.qna{
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
.blog{
    width: 70%;
    margin-top: 20px;
}
.blog p{
    font-weight: 500;
    color: rgb(99, 90, 90);
}