.review-container{
    padding: 20px 100px;
    
}
.review-card{
    display: flex;
    border: 0px solid black;
    padding: 20px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px ;
    background-color: white;
}
.card-img{
    width: 80%;
    text-align: center;
}
.card-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.card-info{
   width: 120%;
}
.card-info p{
    font-weight: 500;
    color: rgb(86, 89, 92);
    margin-top: 20px;
}

@media screen and (max-width: 600px){
    .review-container{
        padding: 10px 10px;
        
    }
    .review-card{
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        margin-top: 100px;

    }
    .card-img{
        position: relative;
    }
    .card-img img{
        position: absolute;
        top: -70px;
        left: 30%;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid white;
    }
    .card-info{
        width: 100%;
        padding: 5px 10px;
        margin-top: 100px;
        text-align: center;
     }
     .card-info p{
         font-weight: 400;
         color: rgb(86, 89, 92);
         margin-top: 20px;
     }
}
@media only screen and (min-device-width : 700px) and (max-device-width : 924px){
    .review-container{
        padding: 20px 40px;       
    }    
    .card-img{
        width: 40%;       
    }
    .card-img img{
        width: 200px;
        height: 200px;      
    }   
    .card-info{
       width: 160%;
    } 
}