.banner{
    display: flex;
    background-color: antiquewhite;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
}
.headlines{
    padding-left: 100px;
    width: 50%;
}
.headlines h1{
    font-size: 40px;
    font-weight: 900;
}
.headlines p{
    color: rgb(92, 76, 76);
    margin-top: 30px;
    font-weight: 500;
}
.bannerImg{
    padding-right: 100px;
    width: 50%;
}
.bannerImg img{
    width: 100%;
}
.highlite{
    color: orangered;
}
.user-feedback{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 100px;
    
}
.demo-reviews{
    background-color: rgb(223, 217, 217);
}
.demo-reviews h1{
    padding-top: 20px;
    font-weight: 700;
    text-align: center;
}
.show-all{
    text-align: center;
    padding: 30px 0px;
}
.show-btn{
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(64, 165, 248);
}
@media screen and (max-width: 600px) {
    .banner{
        flex-direction: column;

        height: auto;
    }
    .headlines{
        padding-left: 10px;
        width: 100%;
        margin-top: 20px;
    }
    .headlines h1{
        font-size: 30px;
        font-weight: 700;
    }
    .headlines p{
        color: rgb(92, 76, 76);
        margin-top: 10px;
        font-weight: 400;
    }
    .bannerImg{
        padding-right: 10px;
        width: 100%;
    }
    .bannerImg img{
        width: 100%;
    }
    .user-feedback{
        grid-template-columns: 1fr;
        margin: auto;
    }
}