.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
    background-color: rgb(4, 32, 51);
    color: white;
}
.logo{
    font-family: 'Beau Rivage', cursive;
    font-weight: 900;
}
.orange{
    color: orange;
}
.unactive{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
   
}
.active{
    color: orange;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 500;
}
@media screen and (max-width: 355px){
    .unactive{
        font-size: 13px;
        margin: 0px 5px;  
    }
    
}

@media screen and (max-width: 600px) {
    .navbar{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 0px;
        box-sizing: border-box;
    }
    .navbar div{
        margin: auto;
       
    }
    .navbar h1{
        margin: auto;
    }
    .logo{
        text-align: center;
       
    }
    .unactive{
        margin: 0px 5px;
    }
    .active{
        margin: 0px 5px;
    }
}
@media only screen and (min-device-width : 700px) and (max-device-width : 924px) {
    .navbar{
        padding: 0px 40px;   
    }
    
}