.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
    background-color: rgb(4, 32, 51);
    color: white;
}
.logo{
    font-family: 'Beau Rivage', cursive;
    font-weight: 900;
}
.orange{
    color: orange;
}
.unactive{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
   
}
.active{
    color: orange;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 500;
}