.chart-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.chart{
    margin: auto;
    padding-top: 50px;

}
.chart-title{
    padding-bottom: 20px;
    color: rgb(24, 139, 216);
    text-align: center;
}